{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-1">
      </div>
        <div class="col-md-10">
          <p><img src="/static/images/contact.jpg" alt="Contact Us Photo" width="100%"  height="auto"/></p>
      </div>
    </div>

      <section class="mainContent full-width clearfix">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="sectionTitle text-center">
              <h2>
                <span class="shape shape-left bg-color-4"></span>
                <span>History</span>
                <span class="shape shape-right bg-color-4"></span>
              </h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <p class="text-center">For nearly two decades, there have been several attempts to bring a child advocacy
              center to Cuyahoga County. Most recently, in 2014, United Way of Greater Cleveland
              (UWGC) used their position as a convener around system issues in the community to
              bring together several important stakeholders to discuss the feasibility of bringing a CAC
              to Cuyahoga County. With all other major metropolitan areas in the country already
              having a CAC, they and the stakeholders felt that this best practice model would be
              helpful for victims of child abuse in Cuyahoga County as well. UWGC awarded a
              $100,000 planning grant to help provide a backbone for CAC work. Consultants were
              hired with these dollars to help organize and catalyze a planning process, and ensure all
              voices were heard in an effort to incorporate all the diverse perspectives around the
              table into the final product. Catalyzed by a large capital grant from the Cleveland
              Foundation, construction of Canopy CAC began in July 2018. In Fall 2018, Canopy Child
              Advocacy Center opened under the direction of Jennifer Johnson, with the Domestic
              Violence &amp; Child Advocacy Center serving as the fiscal agent, legal entity, and providing
              its infrastructure. At this time, Canopy CAC will be providing services to children under
              12 years old who live in the City of Cleveland and have been sexually abused. As we
              build capacity to serve more children, the referral criteria will be expanded. For more
              information on our referral criteria, click 
              <a href="{{url_for('main.contactUs')}}" role="button" aria-haspopup="true" aria-expanded="false">HERE</a></p>
          </div>
        </div>
      </div>
    </section>

      <section class="mainContent full-width clearfix">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="sectionTitle text-center">
              <h2>
                <span class="shape shape-left bg-color-4"></span>
                <span>Mission</span>
                <span class="shape shape-right bg-color-4"></span>
              </h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <p class="text-center">Our mission is to serve children and families affected by child abuse through a multi-
disciplinary partnership focused on safety, healing, and well-being.</p>
          </div>
        </div>
      </div>
    </section>

      <section class="mainContent full-width clearfix">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="sectionTitle text-center">
              <h2>
                <span class="shape shape-left bg-color-4"></span>
                <span>Vision</span>
                <span class="shape shape-right bg-color-4"></span>
              </h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <p class="text-center">We envision a community where children are safe, families are resilient, and those
affected by child abuse are empowered to heal and thrive.</p>
          </div>
        </div>
      </div>
    </section>
      <section class="mainContent full-width clearfix">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="sectionTitle text-center">
              <h2>
                <span class="shape shape-left bg-color-4"></span>
                <span>Our Team</span>
                <span class="shape shape-right bg-color-4"></span>
              </h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class=" col-md-6 col-sm-6 col-xs-12">
            <div class="teamContent teamAdjust">
              <div class="teamInfo teamTeacher schoolInfo">
                <h2>Jennifer Johnson</h2>
                <p>Director</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="teamContent teamAdjust">
              <div class="teamInfo teamTeacher schoolInfo">
                <h2>Natalie Fedrigon</h2>
                <p>Family Liason</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% block footer %} {{super() }}{% endblock %}
{% endblock %}
