{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      </div>
        <div class="col-md-6">
          <p><img src="/static/images/contact.jpg" alt="Contact Us Photo" width="100%"  height="auto"/></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
      </div>
        <div class="col-md-6">
          <p class="text-center">We <b>envision</b> a community where children are safe, families are resilient, and those affected by child abuse are empowered to heal and thrive. </p>
          <p class="text-center"><b>What is a Child Advocacy Center?</b> It is a national best practice model utilized to reduce potential trauma to children and families impacted by child abuse and improve services through interagency collaboration. The overall goal, is to send the child and family to one child-friendly, trauma-informed, location where they will receive a wide array of services to help in both the short and long-term healing in a prompt and thorough manner. Additionally, there is a goal to aid in improving prosecutions.</p>
          <p class="text-center"><b>Components</b> of a CAC <b>include</b> medical/SANE exams, child protection, law
          enforcement, victim advocacy, mental health/trauma-informed response, prosecution, and allied community and
          social services. The <b>partners work in close collaboration</b> to ensure that there is <b> timely and appropriate responses</b> to the child and their families. </p>
          <p class="text-center"> For the last few years in Cuyahoga County, a <b>multi-disciplinary advisory
            committee</b>
          representing the key responders in a CAC has been meeting for a few years to be bring this model to this
          area.</p>
          <p class="text-center"> We are members of the Ohio Network of Child Advocacy Centers Network.
        </div>
    </div>
  </div>

{% endblock %}
