{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p><b>Need services?</b> At this time, referrals to the child advocacy center come directly from the Cuyahoga County Division of Children and Family Services. You can contact them at 216-696-5437.</p>
        <p>*Please note that referrals will be accepted from others in the future. Stay tuned!
      Interested in getting involved or desire more information?
      Reach out to director Jennifer Johnson at 216-229-2420 ext. 250 or jjohnson@dvcac.org</p>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>

{% endblock %}
