{% extends "base.html" %}

{% block content %}
	<!-- ====================================
	——— PAGE TITLE SECTION
	===================================== -->
    <section class="pageTitleSection">
      <div class="container">
        <div class="pageTitleInfo">
          <h2>Contact Us</h2>
          <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Contact Us</li>
          </ol>
        </div>
      </div>
    </section>
  <section class="mainContent full-width clearfix aboutSection">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-sm-12 col-xs-12">
          <div class="schoolInfo">
            <h2>If you have concerns about the abuse or neglect of a child you must contact the Cuyahoga County Division of Children and Family Services to make a report.  The reporting number is 216-696-KIDS(5437).</h2>
            <h2>In case of an emergency, please dial 911.</h2>
            <p>At this time referrals to Canopy Child Advocacy Center come from the Cuyahoga County Division of Children and Family Services as we build capacity, services will be expanded to serve a wider population and to accept other referral sources.</p>
            <p>See below for the referral criteria:</p>
            <p class="color-3">October 2018-March 2019</p>
            <ul class="list-unstyled para-list">
              <li><i class="fa fa-check" aria-hidden="true"></i> Children 12 years old and under</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Reside in City of Cleveland </li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Sexual Abuse</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Referred from Cuyahoga County Division of Children and Family Services</li>
            </ul>
            <p class="color-4">April 2019-March 2020</p>
            <ul class="list-unstyled para-list">
              <li><i class="fa fa-check" aria-hidden="true"></i> Children 12 years old and under  </li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Reside in Cuyahoga County </li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Sexual Abuse</li>
              <li><i class="fa fa-check" aria-hidden="true"></i>Referred from Cuyahoga County Division of Children and Family Services or law enforcement </li>
              <li><i class="fa fa-check" aria-hidden="true"></i> If able, expand referents to professionals and community </li>
            </ul>
            <p class="color-5">April 2020-indefinite</p>
            <ul class="list-unstyled para-list">
              <li><i class="fa fa-check" aria-hidden="true"></i> Children and teenagers 18 years old and under  </li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Young adults 21 years old and under if developmentally disabled </li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Reside in Cuyahoga County</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Sexual abuse or physical abuse</li>
              <li><i class="fa fa-check" aria-hidden="true"></i> Referrals from Cuyahoga County Division of Children and Family Services, law enforcement, professionals, and community </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

{% block footer %} {{super() }}{% endblock %}
{% endblock %}