{% extends "base.html" %}
{% block content %}
  <section class="mainContent full-width clearfix aboutSection">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-sm-12 col-xs-12">
          <div class="schoolInfo">
            <p class="text-center">The Domestic Violence and Child Advocacy Center (DVCAC) is the fiscal agent and legal entity through which 
            the Canopy Child Advocacy Center (CAC) is presently operated.</p>
            <h2 class="text-center">Interested in donating?</h2>
            <p class="text-center">Please contact Sara Otts at 216-229-2420 or click 
            	<a href="https://dvcac.org/getinvolved/donate/" role="button" aria-haspopup="true" aria-expanded="false">
            		HERE
            	</a>
            	to visit the DVCAC Donation Page.
            </p>
            <p class="text-center">*Please note within body of email or text box on donation page that you are designating your donation to the Canopy Child Advocacy Center*</p>
        	</div>
    		</div>
			</div>
		</div>
	</section>
    
    <style>
      .footer {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
      }
    </style>
{% block footer %} {{super() }}{% endblock %}
{% endblock %}
