{% extends "base.html" %}    
{% block content %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img class="img-fluid" src="static/images/carousel/5.jpeg" alt="Children">
    </div>
    <div class="item">
      <img class="img-fluid" src="static/images/carousel/7.jpeg" alt="Hands">
    </div>

    <div class="item">
      <img class="img-fluid" src="static/images/carousel/6.jpeg" alt="Families">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
	<!--====================================
    ——— MAIN SECTION
    ===================================== -->
    
    <section class="mainContent full-width clearfix aboutSection">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-push-6 col-xs-12 hidden-xs hidden-sm">
            <img src="static/images/newLogo.png" alt="image" class="img-responsive">
          </div>
          <div class="col-sm-6 col-sm-pull-6 col-xs-12">
            <div class="schoolInfo">
              <h2>Welcome to Canopy Child Advocacy Center</h2>
              <p> A Child Advocacy Center (CAC) is a national best practice model utilized to reduce potential trauma to children and families impacted by child abuse and improve services through interagency collaboration. Clients come to one child-friendly, trauma-informed location where they will receive a wide array of services to help in both the short and long term healing process. </p>
              <p> Learn more 
                <a href="{{url_for('main.whatWeDo')}}" role="button" aria-haspopup="true" aria-expanded="false"> HERE</a>
              </p>
              <h2>Mission</h2>
              <p>Our mission is to serve children and families affected by child abuse through a multi-disciplinary partnership focused on safety, healing, and well-being.</p>
              <h2>Vision</h2>
              <p>We envision a community where children are safe, families are resilient, and those affected by child abuse are empowered to heal and thrive.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="static/assets/plugins/jquery/jquery-min.js"></script>
    <script src="static/assets/plugins/jquery-ui/jquery-ui.js"></script>
    <script src="static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="static/assets/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="static/assets/plugins/selectbox/jquery.selectbox-0.1.3.min.js"></script>
    <script src="static/assets/plugins/owl-carousel/owl.carousel.js"></script>
    <script src="static/assets/plugins/waypoint/waypoints.min.js"></script>
    <script src="static/assets/plugins/counter-up/jquery.counterup.min.js"></script>
    <script src="static/assets/plugins/isotope/isotope.min.js"></script>
    <script src="static/assets/plugins/fancybox/jquery.fancybox.min.js"></script>
    <script src="static/assets/plugins/isotope/isotope-triger.js"></script>
    <script src="static/assets/plugins/countdown/jquery.syotimer.js"></script>
    <script src="static/assets/plugins/velocity/velocity.min.js"></script>
    <script src="static/assets/plugins/smoothscroll/SmoothScroll.js"></script>
    <script src="static/assets/plugins/wow/wow.min.js"></script>
    <script src="static/assets/js/app.js"></script>
    </div>
{% block footer %} {{super() }}{% endblock %}
{% endblock %}


