{% extends "base.html" %}
 {% block content %}
 </br>
 </br>
  <div class="container text-center">
    <h1> Our partners are ever growing! Stay tuned. </h1>
    <div class="row">
      <ul>
        <li><h4>Cleveland Clinic Foundation</h4></li>
        <li><h4>Cleveland Division of Police</h4></li>
        <li><h4>Cleveland Rape Crisis Center</h4></li>
        <li><h4>Cuyahoga County Division of Children and Family Services</h4></li>
        <li><h4>Domestic Violence and Child Advocacy Center</h4></li>
        <li><h4>Cuyahoga County Prosecutor's Office</h4></li>
        <li><h4>Frontline Service</h4></li>
        <li><h4>The MetroHealth Systems</h4></li>
        <li><h4>University Hospitals</h4></li>
      </ul>
    </div>
  </div>
  {% block footer %} {{super() }}{% endblock %}
{% endblock %}
 <!--
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      </div>
        <div class="col-md-6">
          <p><img src="/static/images/hands.png" alt="Hands Photo" width="100%"  height="auto"/></p>
      </div>
    </div>
  </div>
 -->
