{% extends "base.html" %}
 {% block content %}
 </br>
 </br>
  <div class="container text-center">
    <h1> Our partners are ever growing! Stay tuned. </h1>
    <div class="row">
      <ul>
        <li>Cleveland Clinic Foundation</li>
        <li>Cuyahoga County Division of Children and Family Services</li>
        <li>Cuyahoga County Prosecutor's Office</li>
        <li>Cleveland Division of Police</li>
        <li>Cleveland Rape Crisis Center</li>
        <li>Domestic Violence and Child Advocacy Center</li>
        <li>Frontline Service</li>
        <li>MetroHealth</li>
        <li>University Hospitals</li>
      </ul>
    </div>
  </div>
  {% block footer %} {{super() }}{% endblock %}
{% endblock %}
 <!--
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      </div>
        <div class="col-md-6">
          <p><img src="/static/images/hands.png" alt="Hands Photo" width="100%"  height="auto"/></p>
      </div>
    </div>
  </div>
 -->
