{% extends "base.html" %}
 {% block content %}
  <div class="container text-center">
    <h1> Books I Recommend . . . </h1>
    <div class="row">
      <div class="col-sm-4">
        <img src="img/1984.jpg" id= "icon">
        <h3>1984</h3>
        <h4> George Orwell</h4>
      </div>
      <div class="col-sm-4">
        <img src="img/spark.jpg" id= "icon">
        <h3>Spark</h3>
        <h4> John J. Ratey, MD</h4>
        <h4> The Science of Exercise and The Brain </h4>
      </div>
      <div class="col-sm-4">
        <img src="img/DADOES.jpg" id= "icon">
        <h3> Do Androids Dream Of Electric Sheep </h3>
        <h4> Philip K. Dick </h4>
      </div>
      <div class="col-sm-4">
        <img src="img/hobbit.jpg" id= "icon">
      </div>
    </div>
  </div>
{% endblock %}
