{% extends "base.html" %}
 {% block content %}
 </br>
 </br>
   <style>
      .link {
        font-size: 13pt;
      } 
    </style>
  <div class="container text-center">
    <div class="sectionTitle text-center">
      <h2>Presently our partners are:</h2>
    </div>
    <div class="row">
      <ul>
        <li><h4 class="text-center"><a href="https://case.edu/" class="color-4 link">Case Western Reserve University</a></h4></li>
        <li><h4 class="text-center"><a href="https://my.clevelandclinic.org/" class="color-4 link">Cleveland Clinic Foundation</a></h4></li>
        <li><h4 class="text-center"><a href="http://www.city.cleveland.oh.us/CityofCleveland/Home/Government/CityAgencies/PublicSafety/Police" class="color-4 link">Cleveland Division of Police</a></h4></li>
        <li><h4 class="text-center"><a href="https://clevelandrapecrisis.org/" class="color-4 link">Cleveland Rape Crisis Center</a></h4></li>
        <li><h4 class="text-center"><a href="http://cp.cuyahogacounty.us/internet/index.aspx" class="color-4 link">Cuyahoga County Court of Common Pleas</a></h4></li>
        <li><h4 class="text-center"><a href="http://cfs.cuyahogacounty.us/" class="color-4 link">Cuyahoga County Division of Children and Family Services</a></h4></li>
        <li><h4 class="text-center"><a href="http://domestic.cuyahogacounty.us/" class="color-4 link">Cuyahoga County Domestic Relations Court</a></h4></li>
        <li><h4 class="text-center"><a href="http://juvenile.cuyahogacounty.us/" class="color-4 link">Cuyahoga County Juvenile Court</a></h4></li>
        <li><h4 class="text-center"><a href="http://prosecutor.cuyahogacounty.us/" class="color-4 link">Cuyahoga County Prosecutor's Office</a></h4></li>
        <li><h4 class="text-center"><a href="https://sheriff.cuyahogacounty.us/" class="color-4 link">Cuyahoga County Sheriff's Department</a></h4></li>
        <li><h4 class="text-center"><a href="http://ja.cuyahogacounty.us/en-us/wvsc-new.aspx" class="color-4 link">Cuyahoga County Witness Victim Service Center</a></h4></li>
        <li><h4 class="text-center"><a href="www.dvcac.org" class="color-4 link">Domestic Violence and Child Advocacy Center</a></h4></li>
        <li><h4 class="text-center"><a href="http://ja.cuyahogacounty.us/en-US/family-justice-center-new.aspx" class="color-4 link">Family Justice Center</a></h4></li>
        <li><h4 class="text-center"><a href="www.frontlineservice.org" class="color-4 link">Frontline Service</a></h4></li>
        <li><h4 class="text-center"><a href="http://www.garfieldhts.org/Police" class="color-4 link">Garfield Heights Police Department</a></h4></li>
        <li><h4 class="text-center"><a href="http://www.huntingvalley.net/police-department/" class="color-4 link">Hunting Valley Police Department</a></h4></li>
        <li><h4 class="text-center"><a href="https://www.forensicnurses.org/" class="color-4 link">International Association of Forensic Nurses</a></h4></li>
        <li><h4 class="text-center"><a href="https://www.oakwoodvillageoh.com/services-to-residents/frequently-asked-questions/police-department-2/" class="color-4 link">Oakwood Village Police Department</a></h4></li>
        <li><h4 class="text-center"><a href="https://www.mayfieldheights.org/217/Police" class="color-4 link">Mayfield Heights Police Department</a></h4></li>
        <li><h4 class="text-center"><a href="https://www.southeuclidpolice.com/" class="color-4 link">South Euclid Police Department</a></h4></li>
        <li><h4 class="text-center"><a href="https://www.strongsville.org/departments/police" class="color-4 link">Strongsville Police Department</a></h4></li>
        <li><h4 class="text-center"><a href="www.metrohealth.org" class="color-4 link">The MetroHealth Systems</a></h4></li>
        <li><h4 class="text-center"><a href="https://www.unitedwaycleveland.org/" class="color-4 link">United Way of Greater Cleveland</a></h4></li>
        <li><h4 class="text-center"><a href="http://www.uhhospitals.org/" class="color-4 link">University Hospitals</a></h4></li>
      </ul>
      <p class="text-center">If you are interested in partnership opportunities please contact Jennifer Johnson at 216-229-2420 ext. 250 or jjohnson@dvcac.org</p>
      <br/>
      <br/>
    </div>
  </div>
  {% block footer %} {{super() }}{% endblock %}
{% endblock %}