{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      </div>
        <div class="col-md-6">
          <p><img src="/static/images/families.png" alt="Family Photo" width="100%"  height="auto"/></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
      </div>
        <div class="col-md-6">
          <h4> What We Do... </h4>
          <p class="text-center">A child that has experienced abuse is offered an opportunity to share their story one time, via a recorded interview by a trained interviewer. While they are being interviewed, the child’s caregiver is able to meet with a child and family victim’s advocate and receive support and linkage to an array of services that they may benefit from and/or be in need of. As the interview is occurring, all other parties needing to be involved to help execute the most appropriate and timely response are either present on the other side of a 2 way mirror obtaining what they need for their own organizations OR receive a copy of the recorded interview. Then, each provider meets together as quickly as possible as a multi disciplinary team and works to ensure the child and family receive all services needed effectively. Some examples of services offered to both the child and non offending family can include:</p>
          <p>- Victim Advocacy </p>
          <p>- Prosecution </p>
          <p>- Mental Health </p>
          <p>- Medical Exams and linkage to ongoing healthcare</p>
          <p>- Specialized engagement with Law Enforcement and the Division of Children and Family Services</p>
      </div>
    </div>
  </div>
  {% block footer %} {{super() }}{% endblock %}

{% endblock %}
